{% load static %}

     <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
       
    </head>



<div class="container">
    <div class="content-container">
        <h2> {{ dataset_meta.datasetName }} </h2>

        <body>
            <div>
              <div class="mySlides ">
                <br>
                <center><img src="{{ data_fig }}" alt="Preview" height="500" width="750" style="object-fit:contain; border: 3px solid #555;"></center>
                <div class="text">Raw and Normalized XAFS</div>
              </div>
              <div class="mySlides ">
                <br>
                <center><img src="{{ k_fig }}" alt="Preview" height="500" width="750" style="object-fit:contain; border: 3px solid #555;"></center>
                <div class="text">Chi(k)</div>
              </div>
              <div class="mySlides ">
                <br>
                <center><img src="{{ R_fig }}" alt="Preview" height="500" width="750" style="object-fit:contain; border: 3px solid #555;"></center>
                <div class="text">Chi(R)</div>
              </div>

            </div>
            <br>
            <div style="text-align:center">
              <span class="dot" onclick="currentSlide(1)"></span>
              <span class="dot" onclick="currentSlide(2)"></span>
              <span class="dot" onclick="currentSlide(3)"></span>
            </div>
          </body>

        <div>
            <table id="table_detail" >
                <caption onclick="showHideRow('hidden_row1');"  class="table-title">General Info
                    <button><i class="arrow down"></i> </button>
                </caption>
                <thead>
                    <tr id="hidden_row1" onclick="showHideRow('hidden_row2');" class="hidden_row">
                        <th>id</th>
                        <th>Title</th>
                        <th>Owner group</th>
                        <th>Bibliography ID</th>
                        <th>History ID</th>
                        <th>General ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="hidden_row2" class="hidden_row">
                        <td> {{ dataset_meta.id }} </td>
                        <td style="max-width: 200px;">{{ dataset_meta.datasetName }}</td>
                        <td>{{ dataset_meta.ownerGroup }}</td>
                        <td>{{ dataset_meta.bibliography_id }}</td>
                        <td>{{ dataset_meta.history_id }}</td>
                        <td>{{ dataset_meta.general_id }}</td>
                        <table id="table_detail" >
                            <tr>
                                <td> Abstract: {{ dataset_meta.scientificMetadata.Abstract }}</td>
                            </tr>
                        </table>
                    </tr>
                </tbody>
            </table>
            <table id="table_detail">
                <caption onclick="showHideRow('hidden_row4');" class="table-title">Instrument
                    <button><i class="arrow down"></i> </button>
                </caption>
                <!--<thead>
                    <tr>
                        <th>id</th>
                        <th>Date of experiment</th>
                        <th>Place of experiment</th>
                        <th>Date of upload</th>
                    </tr>
                </thead>
                <tbody>
                    <!--{% for entry in dataset_history %} {% endfor %}--
                    <tr>
                        <td> {{ dataset_history.id }} </td>
                        <td>{{ dataset_history.date_of_experiment }}</td>
                        <td>{{ dataset_history.place_of_experiment }}</td>
                        <td>{{ dataset_history.date_of_upload }}</td>
                    </tr>

                </tbody>
            </table>
            <table id="datatablesSimple">
                <caption class="table_caption">Bibliography</caption>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>DOI</th>
                        <th>Title</th>
                        <th>Author name</th>
                        <th>Reference</th>
                    </tr>
                </thead>
                <tbody>
                    <!--{% for entry in dataset_history %} {% endfor %}--
                    <tr>
                        <td> {{ dataset_bibliography.id }} </td>
                        <td> {{ dataset_bibliography.doi }} </td>
                        <td>{{ dataset_bibliography.title }}</td>
                        <td>{{ dataset_bibliography.author_name }}</td>
                        <td>{{ dataset_bibliography.reference }}</td>
                    </tr>

                </tbody>-->
                <thead>
                    <tr id="hidden_row4" onclick="showHideRow('hidden_row5');" class="hidden_row">
                        <th>id</th>
                        <th>Facility</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="hidden_row5" class="hidden_row">
                        <td> {{ instrument_meta.id }} </td>
                        <td>{{ instrument_meta.facility }}</td>
                    </tr>
                </tbody>
            </table>
            <table id="table_detail">
                <caption onclick="showHideRow('hidden_row6');" class="table-title">Bibliography
                    <button><i class="arrow down"></i> </button>
                </caption>
                <thead>
                    <tr id="hidden_row6" onclick="showHideRow('hidden_row7');" class="hidden_row">
                        <th>id</th>
                        <th>Author Name</th>
                        <th>Author Institut</th>
                        <th>Contact Mail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="hidden_row7" class="hidden_row">
                        <td> {{ bibliography_meta.id }} </td>
                        <td>{{ dataset_meta.owner }}</td>
                        <td>{{ dataset_meta.ownerGroup }}</td>
                        <td>{{ dataset_meta.contactEmail }}</td>
                    </tr>
                </tbody>
            </table>
            <table id="datatablesSimple">
                <caption class="table-title">History</caption>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Date of upload</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> {{ history_meta.id }} </td>
                        <td>{{ history_meta.date_of_upload }}</td>
                    </tr>
                </tbody>
            </table>
            <table id="datatablesSimple">
                <caption onClick="toggle('nameit');" class="table-title">Scientific metadata
                    <button><i class="arrow down"></i> </button>
                </caption>
                <thead>
                    <tr><th>SYNCHROTRON:</th></tr>
                    <tr nameit=fred> <th class="subh">ABSORPTION:</th></tr>
                    <tr nameit=fred id="hidethis"> <th class="subsubh">RAW:</th></tr>
                </thead>
                <tbody>
                    <tr nameit=fred>
                        <th class="subsubsubh">EDGE STEP:</th>
                    </tr>
                    <tr nameit=fred> <td class="subd">MIN: {{ dataset_meta.scientificMetadata.SYNCHROTRON.ABSORPTION.RAW.edge_step.min }}
                        | MAX: {{ dataset_meta.scientificMetadata.SYNCHROTRON.ABSORPTION.RAW.edge_step.max }}
                        | UNIT: {{ dataset_meta.scientificMetadata.SYNCHROTRON.ABSORPTION.RAW.edge_step.unit }}
                        | DOCUMENTATION: {{ dataset_meta.scientificMetadata.SYNCHROTRON.ABSORPTION.RAW.edge_step.documentation }}
                    </td></tr>
                    <tr nameit=fred>
                        <th class="subsubsubh"> K MAX:</th>
                    </tr>
                    <tr nameit=fred> <td class="subd">MIN: {{ dataset_meta.scientificMetadata.SYNCHROTRON.ABSORPTION.RAW.k_max.min }}
                        | MAX: {{ dataset_meta.scientificMetadata.SYNCHROTRON.ABSORPTION.RAW.k_max.max }}
                        | UNIT: {{ dataset_meta.scientificMetadata.SYNCHROTRON.ABSORPTION.RAW.k_max.unit }}
                        | DOCUMENTATION: {{ dataset_meta.scientificMetadata.SYNCHROTRON.ABSORPTION.RAW.k_max.documentation }}
                    </td></tr>
                    <tr nameit=fred>
                        <th class="subsubsubh">NOISE:</th>
                    </tr>
                    <tr nameit=fred> <td class="subd">MIN: {{ dataset_meta.scientificMetadata.SYNCHROTRON.ABSORPTION.RAW.noise.min }}
                        | MAX: {{ dataset_meta.scientificMetadata.SYNCHROTRON.ABSORPTION.RAW.noise.max }}
                        | UNIT: {{ dataset_meta.scientificMetadata.SYNCHROTRON.ABSORPTION.RAW.noise.unit }}
                        | DOCUMENTATION: {{ dataset_meta.scientificMetadata.SYNCHROTRON.ABSORPTION.RAW.noise.documentation }}
                    </td></tr>
                    <tr nameit=fred>
                        <th class="subsubsubh">ENERGY RESOLUTION:</th>
                    </tr>
                    <tr nameit=fred> <td class="subd">MIN: {{ dataset_meta.scientificMetadata.SYNCHROTRON.ABSORPTION.RAW.energy_resolution.min }}
                        | MAX: {{ dataset_meta.scientificMetadata.SYNCHROTRON.ABSORPTION.RAW.energy_resolution.max }}
                        | UNIT: {{ dataset_meta.scientificMetadata.SYNCHROTRON.ABSORPTION.RAW.energy_resolution.unit }}
                        | DOCUMENTATION: {{ dataset_meta.scientificMetadata.SYNCHROTRON.ABSORPTION.RAW.energy_resolution.documentation }}
                    </td></tr>
                </tbody>
                <thead>
                    <tr nameit=fred> <th class="subsubh">PROCESSED:</th></tr>
                </thead>
                <tbody>
                    <tr nameit=fred>
                        <th class="subsubsubh">AMPLITUDE REDUCTION FACTOR:</th>
                    </tr>
                    <tr nameit=fred> <td class="subd">Z-RANGES:</td></tr>
                    <tr nameit=fred> <td class="subsubd">[10,40[ : MIN: {{ dataset_meta.scientificMetadata.SYNCHROTRON.ABSORPTION.PROCESSED.amplitude_reduction_factor.Z_ranges.tentoforty.min }} 
                        | MAX: {{ dataset_meta.scientificMetadata.SYNCHROTRON.ABSORPTION.PROCESSED.amplitude_reduction_factor.Z_ranges.tentoforty.max }}
                    </td></tr>
                    <tr nameit=fred> <td class="subsubd">[40,80[ : MIN: {{ dataset_meta.scientificMetadata.SYNCHROTRON.ABSORPTION.PROCESSED.amplitude_reduction_factor.Z_ranges.fortytoeighty.min }} 
                        | MAX: {{ dataset_meta.scientificMetadata.SYNCHROTRON.ABSORPTION.PROCESSED.amplitude_reduction_factor.Z_ranges.fortytoeighty.max }}
                    </td></tr>
                    <tr nameit=fred> <td class="subd">UNIT: {{ dataset_meta.scientificMetadata.SYNCHROTRON.ABSORPTION.PROCESSED.amplitude_reduction_factor.unit }}</td></tr>
                    <tr nameit=fred> <td class="subd">DOCUMENTATION: {{ dataset_meta.scientificMetadata.SYNCHROTRON.ABSORPTION.PROCESSED.amplitude_reduction_factor.documentation }}</td></tr>
                </tbody>
                <thead>
                    <tr><th>LABORATORY:</th></tr>
                    <tr> <th class="subh">ABSORPTION:</th></tr>
                    <tr> <th class="subsubh">RAW:</th></tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="subsubsubh">EDGE STEP:</th>
                    </tr>
                    <tr> <td class="subd">MIN: {{ dataset_meta.scientificMetadata.LABORATORY.ABSORPTION.RAW.edge_step.min }}
                        | MAX: {{ dataset_meta.scientificMetadata.LABORATORY.ABSORPTION.RAW.edge_step.max }}
                        | UNIT: {{ dataset_meta.scientificMetadata.LABORATORY.ABSORPTION.RAW.edge_step.unit }}
                        | DOCUMENTATION: {{ dataset_meta.scientificMetadata.LABORATORY.ABSORPTION.RAW.edge_step.documentation }}
                    </td></tr>
                    <tr>
                        <th class="subsubsubh"> K MAX:</th>
                    </tr>
                    <tr> <td class="subd">MIN: {{ dataset_meta.scientificMetadata.LABORATORY.ABSORPTION.RAW.k_max.min }} 
                        | MAX: {{ dataset_meta.scientificMetadata.LABORATORY.ABSORPTION.RAW.k_max.max }} 
                        | UNIT: {{ dataset_meta.scientificMetadata.LABORATORY.ABSORPTION.RAW.k_max.unit }} 
                        | DOCUMENTATION: {{ dataset_meta.scientificMetadata.LABORATORY.ABSORPTION.RAW.k_max.documentation }}
                    </td></tr>
                    <tr> 
                        <th class="subsubsubh">NOISE:</th>
                    </tr>
                    <tr> <td class="subd">MIN: {{ dataset_meta.scientificMetadata.LABORATORY.ABSORPTION.RAW.noise.min }}
                        | MAX: {{ dataset_meta.scientificMetadata.LABORATORY.ABSORPTION.RAW.noise.max }} 
                        | UNIT: {{ dataset_meta.scientificMetadata.LABORATORY.ABSORPTION.RAW.noise.unit }} 
                        | DOCUMENTATION: {{ dataset_meta.scientificMetadata.LABORATORY.ABSORPTION.RAW.noise.documentation }}
                    </td></tr>
                    <tr> 
                        <th class="subsubsubh">ENERGY RESOLUTION:</th>
                    </tr>
                    <tr> <td class="subd">MIN: {{ dataset_meta.scientificMetadata.LABORATORY.ABSORPTION.RAW.energy_resolution.min }} 
                        | MAX: {{ dataset_meta.scientificMetadata.LABORATORY.ABSORPTION.RAW.energy_resolution.max }} 
                        | UNIT: {{ dataset_meta.scientificMetadata.LABORATORY.ABSORPTION.RAW.energy_resolution.unit }} 
                        | DOCUMENTATION: {{ dataset_meta.scientificMetadata.LABORATORY.ABSORPTION.RAW.energy_resolution.documentation }}
                    </td></tr>
                </tbody>
                <thead>
                    <tr> <th class="subsubh">PROCESSED:</th></tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="subsubsubh">AMPLITUDE REDUCTION FACTOR:</th>
                    </tr>
                    <tr> <td class="subd">Z-RANGES:</td></tr>
                    <tr> <td class="subsubd">[10,40[ : MIN: {{ dataset_meta.scientificMetadata.LABORATORY.ABSORPTION.PROCESSED.amplitude_reduction_factor.Z_ranges.tentoforty.min }} 
                        | MAX: {{ dataset_meta.scientificMetadata.LABORATORY.ABSORPTION.PROCESSED.amplitude_reduction_factor.Z_ranges.tentoforty.max }} 
                    </td></tr>
                    <tr> <td class="subsubd">[40,80[ : MIN: {{ dataset_meta.scientificMetadata.LABORATORY.ABSORPTION.PROCESSED.amplitude_reduction_factor.Z_ranges.fortytoeighty.min }} 
                        | MAX: {{ dataset_meta.scientificMetadata.LABORATORY.ABSORPTION.PROCESSED.amplitude_reduction_factor.Z_ranges.fortytoeighty.max }} 
                    </td></tr>
                    <tr> <td class="subd">UNIT: {{ dataset_meta.scientificMetadata.LABORATORY.ABSORPTION.PROCESSED.amplitude_reduction_factor.unit }}</td></tr>
                    <tr> <td class="subd">DOCUMENTATION: {{ dataset_meta.scientificMetadata.LABORATORY.ABSORPTION.PROCESSED.amplitude_reduction_factor.documentation }}</td></tr>
                </tbody>
            </table>

        </div>

    <table id="datatablesSimple">
        <caption class="table-title">Item List</caption>
    <thead>
        <tr>
            <th>File name:</th>
            <th>File type:</th>
            <th>File size:</th>
            <th>Comment:</th>
            <th>Download the file:</th>
        </tr>
    </thead>
    {% for item in item_list %}
    <tbody>
        <tr>
            <td> {{ item.file_name }} </td>
            <td> {{ item.file_type }} </td>
            <td> {{ item.comment }} </td>
            <td> {{ item.size }} </td>
            <td> <a href="{{ item.file.url }}">Download</a> </td>
        </tr>

    </tbody>
    {% endfor %}
    </table>

</div>
</div>
<script src="{% static 'js/app.js' %}" type="text/javascript"></script>
<script src="{% static 'js/content_imgslider.js' %}" type="text/javascript"></script>