<div class="container">
    <!--<div class="menu_column">content_section content_hight content-
    </div>
    <div class="menu_column_spacer">
    </div>content_column-->
    <div class="content-container">
        <h2> {{ dataset_meta.title }} </h2>
        <center><img src="http://127.0.0.1:8000/api/v1/file/download?file_id={{ dataset_meta.preview_id }}"
            alt="Preview" height="400" width="600" style="object-fit:contain; border: 5px solid #555;"> </center>
        <div>
            <table id="datatablesSimple">
                <caption class="table-title">Dataset Meta</caption>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Title</th>
                        <th>Instrument ID</th>
                        <th>Bibliography ID</th>
                        <th>History ID</th>
                        <th>General ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> {{ dataset_meta.id }} </td>
                        <td style="max-width: 200px;">{{ dataset_meta.title }}</td>
                        <td>{{ dataset_meta.instrument_id }}</td>
                        <td>{{ dataset_meta.bibliography_id }}</td>
                        <td>{{ dataset_meta.history_id }}</td>
                        <td>{{ dataset_meta.general_id }}</td>
                        <table>
                            <tr>
                                <td> Abstract: {{ dataset_meta.abstract }}</td>
                            </tr>
                        </table>
                    </tr>
                </tbody>
            </table>
            <table id="datatablesSimple">
                <caption class="table-title">Instrument</caption>
                <!--<thead>
                    <tr>
                        <th>id</th>
                        <th>Date of experiment</th>
                        <th>Place of experiment</th>
                        <th>Date of upload</th>
                    </tr>
                </thead>
                <tbody>
                    <!--{% for entry in dataset_history %} {% endfor %}--
                    <tr>
                        <td> {{ dataset_history.id }} </td>
                        <td>{{ dataset_history.date_of_experiment }}</td>
                        <td>{{ dataset_history.place_of_experiment }}</td>
                        <td>{{ dataset_history.date_of_upload }}</td>
                    </tr>
                    
                </tbody>
            </table>
            <table id="datatablesSimple">
                <caption class="table_caption">Bibliography</caption>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>DOI</th>
                        <th>Title</th>
                        <th>Author name</th>
                        <th>Reference</th>
                    </tr>
                </thead>
                <tbody>
                    <!--{% for entry in dataset_history %} {% endfor %}--
                    <tr>
                        <td> {{ dataset_bibliography.id }} </td>
                        <td> {{ dataset_bibliography.doi }} </td>
                        <td>{{ dataset_bibliography.title }}</td>
                        <td>{{ dataset_bibliography.author_name }}</td>
                        <td>{{ dataset_bibliography.reference }}</td>
                    </tr>
                    
                </tbody>-->
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Facility</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> {{ instrument_meta.id }} </td>
                        <td>{{ instrument_meta.facility }}</td>
                    </tr>
                </tbody>
            </table>
            <table id="datatablesSimple">
                <caption class="table-title">Bibliography</caption>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Author Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> {{ bibliography_meta.id }} </td>
                        <td>{{ bibliography_meta.author_name }}</td>
                    </tr>
                </tbody>
            </table>
            <table id="datatablesSimple">
                <caption class="table-title">History</caption>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Date of upload</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> {{ history_meta.id }} </td>
                        <td>{{ history_meta.date_of_upload }}</td>
                    </tr>
                </tbody>
            </table>
            <table id="datatablesSimple">
                <caption class="table-title">General</caption>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Collection code</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> {{ general_meta.id }} </td>
                        <td>{{ general_meta.collection_code }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    

    <table id="datatablesSimple">
        <caption class="table-title">Item List</caption>
    <thead>
        <tr>
            <th>File name:</th>
            <th>File type:</th>
            <th>File size:</th>
            <th>Comment:</th>
            <th>Download the file:</th>
        </tr>
    </thead>
    {% for item in item_list %}
    <tbody>
        <tr>
            <td> {{ item.file_name }} </td>
            <td> {{ item.file_type }} </td>
            <td> {{ item.comment }} </td>
            <td> {{ item.size }} </td>
            <td> <a href="http://127.0.0.1:8000/api/v1/file/download?file_id={{ item.file_id }}">{{ item.file_id }}</a> </td>
        </tr>

    </tbody>
    {% endfor %}
    </table>

</div>
</div>