{% load static %}

<header>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>xafsDB - Survey</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
</header>

<body>

    {% include "landing/navbar.html" %}

    <main class="page">

	<div style="margin:80px">
		<h1>Contact</h1>
		<h4>Contact us directly if you have any questions and/Or suggestions</h4>
		<p>
			Please write your name, email address and a message below.
			We will be happy to contact you directly and answer your questions as soon as possible.
		</p>
        <br>

        <fieldset>
            <legend>Personal information and survey</legend>

		<form method="post">
            <!--{% csrf_token %}-->
            {{form.as_p}}
            <button type="submit">Submit</button>
        </form>

        </fieldset>

    </div>

</main>

    {% include "landing/footer.html" %}

</body>