{% load static %}

<div class="navbar">
    <div class="navbar-container">
        <div class="logo-container">
            <a href="http://35.233.84.253">
                <h1 class="logo">xafsdb</h1>
            </a>
        </div>

        <div class="menu-container">
            <ul class="menu-list">
                <li class="menu-list-item active_nav"><a href="{% url 'home' %}">Home</a></li>
                <a href="{% url 'dataset_list' %}" class="menu-list-item active_nav"> DataSets </a>
                <a href="{% url 'contact' %}"  class="menu-list-item active_nav"> Contact </a>

            </ul>
        </div>

        <div>
            <img class="responsive_coll" src="{% static 'img/collab_logo.png' %}" alt="daphne" style="object-fit:contain;" >
        </div>

        <div>
            <img class="responsive_daph" src="{% static 'img/daphne.png' %}" alt="daphne" style="object-fit:contain;" >
        </div>

        <!-- searchbar -->
        <div class="search-container">
            <form action="{% url 'pg_search' %}">
                <input
                type="search"
                class="searchTerm"
                id="form-busca"
                name="term"
                value="{{ request.GET.term }}"
                placeholder="Try to find a title..."
                autocomplete="off">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <!-- end of searchbar {% csrf_token %}-->

    </div>
</div>